{% extends 'base.html' %}
{% block title %}Cafeteria{% endblock %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">
<link rel="stylesheet" href="{% static 'cafeteria.css' %}">

<div class="cafeteria">
    <img src="{% static 'img/cafeteria.jpeg' %}" alt="Menú Cafetería Donde Alejo">
    <h1>Cafetería Donde Alejo</h1>
    <p>Haz tu pedido y disfruta de nuestros deliciosos productos.</p>
    <a href="https://wa.me/573124533122?text=Hola,%20quiero%20hacer%20un%20pedido%20a%20Cafetería%20Donde%20Alejo" target="_blank" class="btn-pedido">
      Hacer Pedido
    </a>
  </div>

{% endblock %}