{% extends 'base.html' %}
{% load static %} 

<link rel="stylesheet" href="{% confirmar.css %}">
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmación</title>

    <body>
        <div class="container">
            <h2>¡Gracias por tu sugerencia!</h2>
            <p>Tu opinión es muy importante para nosotros.</p>
            <a href="{% buzon_sugerencias.html %}">Volver al inicio</a>
        </div>
    </body>
</head>
</html>