
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'home.css' %}">
<link rel="stylesheet" href="{% static 'cafeteria.css' %}">
<br>
<br>
<br>
<br>
<br>
<br>
<body>
    <header class="registro">
        <div class="contenido">
            <br>
            <br>
            <br>
            <img src="{% static 'img/logo2.png'%}" alt="Restaurante Delicioso" class="logo">
            <h1 class="uno">Bienvenido a nuestro restaurante</h1>
            <p class="dos">Únete a nuestra comunidad y descubre todas las ventajas que tenemos para ti.</p>
            <br>
            
            <br>
            <a class="btn-register" onclick="location" href="{% url 'login' %}">Conoce mas sobre nosotros</a>
            
        </div>
    </header>
    </div>
</body>
{% endblock %}