
@import url('https://fonts.googleapis.com/css?family=Montserrat|Montserrat+Alternates|Poppins&display=swap');


body {
    font-family: Arial, sans-serif;
    margin: 0;
    position: relative;
    width: 100%;
    height: 500px; 
    line-height: 1.6;
    color: #333;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.6)), url('/static/img/fondo_1.jpg'); 
	background-size: 100% 97%;
	background-repeat: no-repeat; 
    font-family: 'Montserrat Alternates', sans-serif;
}

.logo {
    height: 150px;
    width: 150px;
    border-radius: 90px;
    box-shadow: 0px 0px 50px #ffffffe0
    font-weight: bold;
    opacity: 0;
    animation: slideInLeft 1s ease-out forwards;
}


.btn-register {
    transition: all 0.3s ease;
    font-size: 4.5rem;
    padding: 15px 30px;
    font-size: 1rem;
    text-decoration: none;
    color: #ffffff;
    background-color: #ff5100;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    animation: slideInLeft 1s ease-out forwards;
    
}

.btn-register:hover {
    text-decoration: none;
    background-color: #ffe600;
    color: rgb(0, 0, 0);
    transform: scale(1.2);
    font-weight: bold;
    opacity: 0;
    animation: slideInLeft 1s ease-out forwards;
}


.registro {
    text-align: center;
    padding: 20px;
}

.uno img{
    width: 380px;
    height: 380px;
}

.registro h1 {
    font-size: 3.0rem;
    margin-bottom: 1rem;
    color: hsl(0, 0%, 100%);
    
    font-weight: bold;
    opacity: 0;
    animation: slideInLeft 1s ease-out forwards;
    
}

@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.registro p {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
    color: hsl(0, 0%, 100%);
    font-weight: bold;
    opacity: 0;
    animation: slideInLeft 1s ease-out forwards;
    
}

.cafeteria h2 {
    font-size: 2.0rem;
    margin-bottom: 1rem;
    color: hsl(0, 0%, 0%);
    
}

/* .contact-section {
    padding: 3rem;
    background: black;
    color: white;
    text-align: center;
}

.contact-section h2 {
    margin-bottom: 1.5rem;
    font-size: ;
}

#contact-form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    max-width: 500px;
    margin: none;
}

#contact-form input, #contact-form textarea {
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 10px;
    outline: none;
}

#contact-form button {
    background: black;
    border: none;
    color: white;
    padding: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    border-radius: 50px;
    transition: background 0.3s;
}

#contact-form button:hover {
    background: #333;
} */
footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
    background: #753300;
    color: white;
}

.caja {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2px;
    text-align: center;
}

.caja_logos img{
    width: 50px;
    height: 50px;
    margin: 2px;
    
}

.text p {
    margin: 5px 0;
    font-size: 14px;
    /* color: white; */
    text-align: center;
}

.icons {
    margin-top: 10px;
}

.icons a {
    margin: 0 10px;
}

.icons img {
    width: 20px;
    height: 20px;
    transition: transform 0.3s;
    justify-content: endx;
}

.btn {
    background-color: #743206;
}
