@import url('https://fonts.googleapis.com/css?family=Montserrat|Montserrat+Alternates|Poppins&display=swap');


body {
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #333;
    /* background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.6)), url('/static/img/4.jpg'); 
	background-size: 100% 100vh;
	background-repeat: no-repeat;  */
    font-family: 'Montserrat Alternates', sans-serif;
}

.header {
    width: 100vw;
    height: 50%;
    background: #000000;
    color: #ffffff;
    padding: 1rem 0;
    box-shadow: 0px 0px 50px rgba(255, 255, 255, 0.668)
}

.header-content {
    display: flex;
    justify-content: space-between;
    margin: 0 80px;
    align-items: center;
    flex-wrap: wrap;
    font-size: 1.2rem;
}

.logo {
    height: 130px;
    width: auto;
    border-radius: 90px;
    /* box-shadow: 0px 0px 50px rgba(255, 255, 255, 0.88)
     */
}
.logo-texto {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: start;
}

.logo-texto h1 {
   color: rgb(255, 255, 255);
   font-family: 'Montserrat Alternates', sans-serif;
   font-weight: bold;
}

.nav, .dropdown-btn{
    list-style: none;
    padding: 30px;
    display: flex;
    gap: 2rem;
}

.nav a {
    font-size: 1.2rem;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

/* .carro {

} */



.dropdown:hover .dropdown-content {
    display: block;
}


.cerrar {
    width: 10%;
    height: 10%;

}

.navbar {
    display: flex;
    align-items: center; /* Alinea verticalmente los elementos */
    gap: 20px; /* Espacio entre elementos */
}

.btn-custom {
    background-color: transparent !important; /* Fondo transparente */
    color: white !important; /* Texto blanco */
    border: none !important; /* Sin bordes */
    padding: 8px 16px;
    font-size: 1.2rem;
    transition: color 0.3s ease-in-out;
    font-weight: bold;
}



/* Estilos del menú desplegable */
.dropdown-menu {
    background-color: white !important; /* Fondo blanco */
    border-radius: 10px;
}

.dropdown-item {
    color: black !important; /* Texto negro */
}

.dropdown-item:hover {
    background-color: black !important; /* Fondo negro al pasar el mouse */
    color: white !important; /* Texto blanco */
}


footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
    background: #000000;
    color: white;
}

.caja {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2px;
    text-align: center;
}

.caja_logos img{
    width: 50px;
    height: 50px;
    margin: 2px;
    
}

.text p {
    margin: 5px 0;
    font-size: 14px;
    /* color: white; */
    text-align: center;
}

.icons {
    margin-top: 10px;
}

.icons a {
    margin: 0 10px;
}

.icons img {
    width: 20px;
    height: 20px;
    transition: transform 0.3s;
    justify-content: endx;
}

.btn {
    background-color: #ffffff;
}

.dropdown {
    font-family: 'Montserrat Alternates', sans-serif;
    position: relative;
    display: flex;
}

.boton {
    border-radius: 10px;
    background-color: #743206;
    color: white;
}

.dropdown-content a {
    /* color: black; */
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* .dropdown-content a :hover {
    background-color: #f1f1f1;
} */

.dropdown :hover .dropdown-content {
    display: block;
}
